extends ../../../pug/layout
block title
  title BANNER BASE
block metaSize
  meta(name="ad.size" content="width=300,height=250")

block content
  #wrapper.centered-layout
    #main-panel
      //- div.absolute-position#main-exit
      //- img(src="images/placeholder.png" style="top:40px;left:20px;")#placeholder.absolute-position
      img(src="images/cta_2x.png" )#cta.absolute-position
      div#pinkBG.absolute-position
      img(src="images/logo_2x.png" )#logo.absolute-position
      img(src="images/product_2x.png" )#product.absolute-position
      img(src="images/txt01_2x.png" )#text1.absolute-position
      img(src="images/txt01_2x.png" )#text2.absolute-position
      img(src="images/txt02_2x.png" )#text3.absolute-position
      include ../../../pug/isi/isi.pug
    a(href="#" target="_blank").pi Full Prescribing Information and Medication Guidexxxxxx
